.bookCard {
    padding: 0;
    margin: 1% 0;
}

.bookRow {
    width: 90%;
    margin: 2% auto;
}

.buttonBookCard {
    margin: 0 1%;  
}

a.bookHeader {
    margin-right: 0;
    margin-left: 1%;
    text-align: right;
}

div.bookHeader {
    /* min-height: 3.5em; */
}

div.bookBody {
    min-height: 10em;
}